---
## mtala 1 solution:
### name of students:

עמיר פאעור תז 316540467

עדן דוקצייב תז 316365733

---
Open the folder numpy and panda so i can use there functions

In [257]:
import numpy as np
import pandas as pd

---
solution to question 1:

opening the file and saving it in vac_file so i can do the function on it  
i can use print and i can do it without print function and Jupyter show it in a better way  
the defult numbers of lines for the head function is 5 , so i can write head without number 5

In [258]:
vac_file=pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv')

In [259]:
vac_file.head(5)

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
0,Albania,ALB,2021-01-10,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN
1,Albania,ALB,2021-01-11,NaN,NaN,NaN,NaN,64.0,NaN,NaN,NaN,22.0
2,Albania,ALB,2021-01-12,128.0,128.0,NaN,NaN,64.0,0.00,0.00,NaN,22.0
3,Albania,ALB,2021-01-13,188.0,188.0,NaN,60.0,63.0,0.01,0.01,NaN,22.0
4,Albania,ALB,2021-01-14,266.0,266.0,NaN,78.0,66.0,0.01,0.01,NaN,23.0

---
solution to question 2:  
checking if the all the detailes that contain the word Argentina in the cloumn location

In [260]:
Argentina=vac_file[vac_file["location"].str.contains("Argentina")]
Argentina

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
184,Argentina,ARG,2020-12-29,700.0,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN
185,Argentina,ARG,2020-12-30,NaN,NaN,NaN,NaN,15656.0,NaN,NaN,NaN,346.0
186,Argentina,ARG,2020-12-31,32013.0,NaN,NaN,NaN,15656.0,0.07,NaN,NaN,346.0
187,Argentina,ARG,2021-01-01,NaN,NaN,NaN,NaN,11070.0,NaN,NaN,NaN,245.0
188,Argentina,ARG,2021-01-02,NaN,NaN,NaN,NaN,8776.0,NaN,NaN,NaN,194.0
...,...,...,...,...,...,...,...,...,...,...,...,...
256,Argentina,ARG,2021-03-11,1919074.0,1564555.0,354519.0,144636.0,95230.0,4.25,3.46,0.78,2107.0
257,Argentina,ARG,2021-03-12,2098205.0,1719543.0,378662.0,179131.0,105801.0,4.64,3.80,0.84,2341.0
258,Argentina,ARG,2021-03-13,2294738.0,1876113.0,418625.0,196533.0,121843.0,5.08,4.15,0.93,2696.0
259,Argentina,ARG,2021-03-14,2381429.0,1932696.0,448733.0,86691.0,122193.0,5.27,4.28,0.99,2704.0
260,Argentina,ARG,2021-03-15,2404194.0,1952883.0,451311.0,22765.0,122499.0,5.32,4.32,1.00,2710.0

---
solution to question 3:  
Showing the length of all the rows that contain the word Argentina in the cloumn location

In [261]:
Argentina_Len=len(Argentina)
Argentina_Len

77

---
solution to question 4:  
Saving the index of the daily vaccinations max value and then showing the date

In [262]:
mostVacc=Argentina["daily_vaccinations"].idxmax()
vac_file["date"][mostVacc]

'2021-03-15'

---
solution to question 5:  
First i saved the first 3 rows (Argentina country) and then i chose only a 3 columns

In [263]:
Rows=(Argentina).head(3)
threeOnly=Rows[["location","daily_vaccinations","date"]]
threeOnly

      location  daily_vaccinations        date
184  Argentina                 NaN  2020-12-29
185  Argentina             15656.0  2020-12-30
186  Argentina             15656.0  2020-12-31

---
solution to question 6:  
Using mean function on the Argentina daily vaccinations to know the avrage (with skiping the nan)

In [264]:
avrage_DailyVacc=Argentina["daily_vaccinations"].mean(skipna = True) 
avrage_DailyVacc

27782.38157894737

---
solution to question 7:  
dropna() function is removing all the empty values

In [265]:
droping_all_nan=Argentina[["people_vaccinated_per_hundred"]].dropna()
droping_all_nan

     people_vaccinated_per_hundred
206                           0.54
207                           0.55
208                           0.56
209                           0.57
210                           0.58
211                           0.58
212                           0.59
213                           0.60
214                           0.61
215                           0.62
216                           0.62
218                           0.62
220                           0.63
221                           0.66
223                           0.68
224                           0.71
225                           0.71
226                           0.71
227                           0.75
228                           0.80
229                           0.81
230                           0.82
231                           0.82
232                           0.82
233                           0.83
234                           0.83
235                           0.87
236                           0.92
237                           0.99
238                           1.01
239                           1.02
240                           1.07
241                           1.14
242                           1.24
243                           1.37
244                           1.54
245                           1.62
246                           1.67
247                           1.82
248                           1.94
249                           2.08
250                           2.28
252                           2.62
253                           2.66
254                           2.88
255                           3.15
256                           3.46
257                           3.80
258                           4.15
259                           4.28
260                           4.32

---
solution to question 8:  
using mean to do ave and skip the nan values

In [269]:
avrage_without_nan=Argentina["people_vaccinated_per_hundred"].mean(skipna=True) 
avrage_without_nan

1.4023529411764708

---
solution to question 8:  
making an if statemean that checks what is greater

In [267]:
if Argentina["daily_vaccinations"].median() > avrage_DailyVacc:
    print("the median is bigger than the average (mean function)")
else:
    print("the average (mean function) is bigger than the median")

the average (mean function) is bigger than the median